.titlebar {
    background-color: rgba(var(--secondary), .5);
    height: 35px;
    width: 100%;
}

.titlebar .container {
    display: flex;
    padding: .35rem .5rem;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.titlebar .container .options {
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    display: flex;
    height: 100%;
    gap: .25rem;
}

.titlebar .container .options .title {
    font-weight: 500;
}

.titlebar .container .options .download {
    align-items: flex-start;
    cursor: pointer;
    display: block;
    height: 18px;
    width: 18px;
    color: #00a900;
}

.options .exit,
.options .max,
.options .min {
    border-radius: 100%;
    display: block;
    outline: none;
    height: 18px;
    width: 18px;
}

.titlebar .exit {
    background: #ff0000;
}

.titlebar .max {
    background: #ffc400;
}

.titlebar .min {
    background: #22ff00;
}