.container {
  justify-content: center;
  flex-direction: column;
  position: relative;
  text-align: center;
  padding: .5rem;
  display: flex;
  gap: .35rem;
  margin: 0;
}

.input-container {
  background: rgba(var(--secondary), 1);
  max-width: -webkit-fill-available;
  border: 1px solid #00000079;
  justify-content: center;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  width: 100%;
  gap: 1rem;
}

legend {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
}

.form-input {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.form-input input, .form-hotkey input {
  max-width: -webkit-fill-available;
  border: 1px solid #00000079;
  border-radius: 5px;
  text-align: center;
  padding: .5rem;
  height: 100%;
}

.form-input label {
  width: 100%;
  font-size: 12px;
  text-align: center;
}

.form-select {
  display: flex;
  gap: .25rem;
  justify-content: space-between;
}

.form-select p {
  font-size: 14px;
}

.form-select select {
  height: 100%;
  padding: .1rem;
  border-radius: 5px;
  color: #0f0f0f;
  border: 1px solid #00000079;
  background: rgba(var(--tertiary), 1);
}

.form-hotkey {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.buttons-grid {
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  padding-top: .3rem;
  grid-gap: .75rem;
  display: grid;
}

.buttons {
  flex-direction: row;
  grid-gap: .75rem;
  display: flex;
}

button[type="button"] {
  padding: 0.6em 1.2em;
  height: 50px;
  width: 100%;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 51;
}

.blur {
  background-color: rgba(0, 0, 0, 0.8);
  animation: animate-in 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  position: fixed;
  z-index: 50;
  inset: 0;
}

.popup .content {
  background-color: rgba(var(--tertiary), 1);
  border-radius: 5px;
  padding: 1.5rem;
  color: white;
}

div[data-state="closed"] {
  animation: animate-out 0.2s ease-in-out;
  z-index: -1;
  opacity: 0;
}

div[data-state="open"] {
  animation: animate-in 0.2s ease-in-out;
  opacity: 1;
  z-index: 0;
}

@keyframes animate-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes animate-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    /* background-color: #2f2f2f; */
  }

  a:hover { color: #24c8db; }

  button,
  input {
    color: #ffffff;
    background-color: #0f0f0f98;
  }

  button:active {
    background-color: #0f0f0f69;
  }

  .form-select select {
    color: white;
  }
}